.content {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antiliased;
}

.body-content {
  background: red;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home-body {
  display: flex;
  flex-direction: row;
}

.display {
  max-height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin: 20px;
  column-count: 2;
  width: calc(100% - 550px);
  min-width: 750px;
  margin-left: 500px;
  list-style: none;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  padding-inline-start: 0px;

}

.card {
  height: 200px;
  width: 100%;
  /* margin: 4px; */
}

.not-found-txt {
  text-align: center;
  font-size: 28px;
  color: #A9A9A9;
}

@media only screen and (max-width: 1250px) {
  .home-body {
    flex-direction: column;
    align-items: center;
  }

  .display {
    width: 94%;
    margin: 0;
    margin-top: 30px;
  }
}
